* {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Raleway", sans-serif;
}

.page {
  margin-left: 10%;
}

body {
  background: linear-gradient(177deg, #4ca2cd, #67b26f) fixed;
  background-size: 400% 400%;
  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  -o-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 51% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 51% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
  @-o-keyframes AnimationName {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 51% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 51% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
}

header {
  display: -ms-grid;
  display: grid;
  width: 40%;
  margin-bottom: 10%;
  margin-top: 20%;
}

header h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.5rem;
}

header h2 {
  margin-left: 10px;
  font-weight: 700;
  font-size: 1.25rem;
}

header .line {
  width: 6.8rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  height: 1px;
  background: white;
}

.main {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  padding-right: 25%;
  font-size: 1.25rem;
}

.main .user_picture {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.25);
}

input {
  margin-top: -1rem;
  font-size: 1.25rem;
  background: rgba(0, 0, 0, 0);
  border: 2.5px solid white;
  padding: 2.5%;
}

input:focus {
  background: rgba(0, 0, 0, 0.25);
}

.btn {
  text-transform: uppercase;
  font-size: 1.25rem;
  background: rgba(255, 255, 255, 0.25);
  outline: none;
  border: 2.5px solid white;
  padding: 5%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width: 768px) {
  header {
    width: 30%;
    margin-bottom: 5%;
    margin-top: 10%;
  }
  header h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 4rem;
  }
  header h2 {
    font-weight: 700;
    font-size: 2rem;
  }
  header .line {
    width: 175px;
    margin: 0.25rem;
    height: 1px;
    background: white;
  }
  .main {
    max-width: 400px;
  }
  .main .user_picture {
    width: 75px;
    height: 75px;
  }
  input {
    padding: 2.5%;
    font-size: 1rem;
  }
  label {
    font-size: 1rem;
  }
  .btn {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    width: 20%;
    margin: 0;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  header h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 4rem;
  }
  header h2 {
    font-weight: 700;
    font-size: 2rem;
  }
  header .line {
    width: 175px;
    margin: 0.25rem;
    height: 1px;
    background: white;
  }
  .main {
    grid-gap: 2rem;
    width: 25rem;
    padding: 0;
    max-width: 500px;
  }
  .main .user_picture {
    width: 75px;
    height: 75px;
  }
  input {
    margin-top: -1.5rem;
    font-size: 1rem;
    padding: 2.5%;
  }
  label {
    font-size: 1rem;
  }
  .btn {
    font-size: 1rem;
  }
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -99;
}
/*# sourceMappingURL=style.css.map */
